!!!
%html
  %head
    %title
      = controller.action_name
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'rails'
    = csrf_meta_tag
  %body
    .notices
      = notice
    = yield
