!!!
%html
  %head
    %title
      = controller.action_name
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'rails', 'application'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body
    .section
      .level
        Level:
        %span.value= @task.level
      .experience
        .bar
          = progress_bar(@task.level_progress)
    = yield
