!!!
%html
  %head
    %title Progress Wars
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js', 'jquery.cookie.js'
    = javascript_include_tag 'rails', 'application'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

    %meta{:name => "viewport", :content => "width=520"}
  %body
    .header
      .branding.section
        .logo
          = link_to 'Progress Wars', root_url
        .tagline
          = tagline
      .level.section
        Level
        .value= @task.level
        .experience
          .bar
            = progress_bar(@task.level_progress)
    = yield

    .footer
      = link_to 'Progress Wars', root_url
      is a parody by
      = link_to 'Jakob Skjerning', 'http://mentalized.net', :class => 'link_to_mentalized', :title => 'Expert web developer specialized in Ruby on Rails'
      from
      = link_to 'Substance Lab', 'http://substancelab.com', :class => 'link_to_substancelab', :title => 'Freelance webdevelopment for startups and small/medium businesses'
      &mdash; you should totally
      = link_to 'follow him on Twitter', 'http://twitter.com/mentalizer', :class => 'link_to_twitter'

  = render :partial => 'layouts/google_analytics'

  - javascript_tag do
    $(document).ready(function() { 
    trackGoals(); 
    setInterval('animateProgressBars()', 100); 
    })